absl_py==2.4.0+computecanada
alembic==1.18.4+computecanada
astunparse==1.6.3+computecanada
certifi==2026.5.20+computecanada
cffi==2.0.0+computecanada
charset_normalizer==3.4.7+computecanada
colorlog==6.10.1+computecanada
contourpy==1.3.3+computecanada
cryptography==46.0.3+computecanada
cycler==0.12.1+computecanada
flatbuffers==25.12.19+computecanada
fonttools==4.63.0+computecanada
gast==0.7.0+computecanada
google-auth-oauthlib==1.4.0
google-pasta==0.2.0+computecanada
google_auth==2.53.0+computecanada
greenlet==3.3.1+computecanada
grpcio==1.76.0+computecanada
h5py==3.16.0+computecanada
idna==3.18
importlib_resources==6.5.2+computecanada
keras==2.15.0+computecanada
kiwisolver==1.4.9+computecanada
libclang==14.0.1+computecanada
mako==1.3.12+computecanada
markdown==3.10.2+computecanada
markupsafe==3.0.3+computecanada
matplotlib==3.10.0+computecanada
ml_dtypes==0.3.2
numpy==1.26.4+computecanada
oauthlib==3.3.1+computecanada
opt_einsum==3.4.0+computecanada
optuna==4.8.0+computecanada
packaging==26.2+computecanada
pandas==2.2.3+computecanada
pillow==12.1.0+computecanada
protobuf==4.25.9
pyasn1==0.6.3+computecanada
pyasn1_modules==0.4.2+computecanada
pycparser==3.0+computecanada
pyparsing==3.3.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2026.2+computecanada
PyYAML==6.0.2+computecanada
requests==2.34.2+computecanada
requests_oauthlib==2.0.0+computecanada
scipy==1.15.1+computecanada
sionna-no-rt==1.2.1
six==1.17.0+computecanada
SQLAlchemy==2.0.50
tensorboard==2.15.2+computecanada
tensorboard_data_server==0.7.2+computecanada
tensorflow==2.15.1+computecanada
tensorflow_estimator==2.15.0+computecanada
tensorflow_io_gcs_filesystem==0.32.0+computecanada
termcolor==3.3.0+computecanada
tqdm==4.67.3+computecanada
typing_extensions==4.15.0+computecanada
tzdata==2026.2+computecanada
-e git+ssh://git@github.com/afazeliUofT/Extended_Upair_Nibi_portable_20260605.git@a04136fd57dd5983519067d1a503fdc8e8f6f2ff#egg=upair5g
urllib3==2.7.0+computecanada
werkzeug==3.1.8+computecanada
wrapt==1.14.2+computecanada
